/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

body {
    font-family: sans-serif;
}

code {
    font-family: monospace;
}

.single span {
    border-top: 3px double black;
}

.double span {
    border-top: 1px solid gray;
}